<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hust_twj.androidart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.chapter1.Chapter1Activity"/>

        <activity android:name=".view.chapter1.StandardActivity"/>
        <activity android:name=".view.chapter1.SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".view.chapter1.SingleTaskActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.chapter1.SingleInstanceActivity"
            android:launchMode="singleInstance"/>

        <activity android:name=".view.chapter1.IntentFilterActivity">
            <intent-filter>
                <action android:name="com.hust_twj.chapter1.action1"/>
                <action android:name="com.hust_twj.chapter1.action2"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.hust_twj.chapter1.category1"/>
                <category android:name="com.hust_twj.chapter1.category2"/>
            </intent-filter>
        </activity>
    </application>

</manifest>